<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Web1.0</display-name>
  <servlet>
    <servlet-name>WebServlet</servlet-name>
    <servlet-class>com.text.Web.WebServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebServlet</servlet-name>
    <url-pattern>/webservlet.actor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Stu</servlet-name>
    <servlet-class>com.text.Web.Stu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stu</servlet-name>
    <url-pattern>/stu.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.text.Web.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/addstudent.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleStu</servlet-name>
    <servlet-class>com.text.Web.DeleStu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleStu</servlet-name>
    <url-pattern>/delestu.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UPstu</servlet-name>
    <servlet-class>com.text.Web.UPstu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UPstu</servlet-name>
    <url-pattern>/upstu.actor</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LongFilter</filter-name>
    <filter-class>com.text.Filter.LongFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LongFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>